<a href="https://colab.research.google.com/github/farida-bano/Giaic-Q3-quiz-prepration/blob/main/Q3loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
num: int = 10

if num > 0:
    print("The number is positive.")

The number is positive.

In [9]:
num: int = 10

if num < 0:
    print("The number is positive.")
else:
  print("ab ye code chalegaa..")

ab ye code chalegaa..

In [7]:
num: int = -5

if num > 0:
    print("The number is positive.")
else:
    print("The number is not positive.")

The number is not positive.

In [12]:
num: int = 0

if num > 0: #  False
    print("The number is positive.")
elif num < 0: # False
    print("The number is negative.")
else: #  execute the else block
    print("The number is zero.")

The number is zero.

In [10]:
num: int = -1

if num > 0: #  False
    print("The number is positive.")
elif num < 0: # True
    print("The number is negative.")
else: #  python will execute the else block
    print("The number is zero.")

The number is negative.

In [11]:
num: int = 1

if num > 0: #  True
    print("The number is positive.")
elif num < 0: # True
    print("The number is negative.")
else: #  python will execute the else block
    print("The number is zero.")

The number is positive.

In [15]:
# NESTED main condition k under condistion
num: int = 10
#num: int = -10

if num > 0: # -

    if num % 2 == 0: # Modulus operator, remainder 0 = even_number,
        print("The number is positive and even.")
    else: # remainder 1 = odd_number,
        print("The number is positive and odd.")

else:
    print("The number is negative.")

The number is positive and even.

In [19]:
#Python match-case Statement
def check_status(code):
    match code:
        case 200:
            print("OK")
        case 400:
            print("Bad Request")
        case 404:
            print("Not Found")
        case _:
            print("Unknown Status")

check_status(200)
check_status(404)
check_status(600)

OK
Not Found
Unknown Status

In [21]:
 # range in for
x =range(10)
for farida in x :
  print(farida)

0
1
2
3
4
5
6
7
8
9

In [22]:
# list in  for loop
furite =[ "apple","banana","cherry"]
for fb in furite:
  print(fb)

apple
banana
cherry

In [23]:
# Iterate over a string
word: str = "Python"
for letter in word:
    print(letter)

P
y
t
h
o
n

In [26]:
# Iterate over a string
word :str ="Farida"
for letter in word:
    print(letter)

F
a
r
i
d
a

In [27]:
# FOR LOOP WITH ELSE (NO BREAK)
numbers = [1, 2, 3, 4, 5]

for num in numbers:
    print(num)
else:
    print("Loop completed successfully!")

1
2
3
4
5
Loop completed successfully!

In [28]:
#break
numbers = [1, 2, 3, 4, 5]

for num in numbers:
    print(num)
    if num == 3:
        print("Breaking the loop!")
        break
else:
    print("Loop completed successfully!")

1
2
3
4
5
6
Breaking the loop!

In [30]:
#break
numbers = [1, 2, 3, 4, 5]

for num in numbers:
    print(num)
    if num == 7:
        print("Breaking the loop!")
        break
else:
    print("Loop completed successfully!")

1
2
3
4
5
Loop completed successfully!

In [29]:
#continue # is 3 skip nahi hao ga 3 k bad if aay then 4 5 etc
numbers = [1, 2, 3, 4, 5]

for num in numbers:
    print(num)
    if num == 3:
        print("Breaking the loop!")
        continue
else:
    print("Loop completed successfully!")

1
2
3
Breaking the loop!
4
5
Loop completed successfully!

In [31]:
#continue# is main 3 skip ho ga
numbers = [1, 2, 3, 4, 5]

for num in numbers:

    if num == 3:
        print("Breaking the loop!")
        continue
    print (num)
else:
    print("Loop completed successfully!")

1
2
Breaking the loop!
4
5
Loop completed successfully!

In [33]:
count: int = 1
while count <= 1:
    print(count)
    count += 1

1

In [32]:
# Print numbers from 1 to 5 yeh us wqt tk chalta hy jb k true nahi ho jati
count: int = 1
while count <= 5:
    print(count)
    count += 1

1
2
3
4
5

In [35]:
#Lesson 06: Lists, Tuples & Dictionary
# STEP 2 PART
# Creating lists with different data types
fruits: list  = ["apple", "banana", "cherry"]
numbers: list = [10, 20, 30, 40]
mixed: list   = ["hello", 42, 3.14, True]

print("fruits  = ", fruits)
print("numbers = ", numbers)
print("mixed   = ", mixed)

fruits  =  ['apple', 'banana', 'cherry']
numbers =  [10, 20, 30, 40]
mixed   =  ['hello', 42, 3.14, True]

In [36]:
 # unsorted list
numbers: list[int] = [3, 1, 4, 1, 5, 9]
numbers.sort()
print(numbers)

[1, 1, 3, 4, 5, 9]

In [37]:
# Without if condition
squared: list = [x**2 for x in [1, 2, 3, 4, 5] ] #  if x > 3 place this if condition and see
print(squared, " : ", type(squared))

[1, 4, 9, 16, 25]  :  <class 'list'>

In [38]:
# modifying list
fruits: list = ["apple", "banana", "cherry"]
fruits[-3] = "watermelon" #
print(fruits)

['watermelon', 'banana', 'cherry']