<a href="https://colab.research.google.com/github/farida-bano/Giaic-Q3-quiz-prepration/blob/main/Q3perpration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# string in python /Raw string kia hy?
path = "c:\Users\Name"
print(path)

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-2-ba107d270a23>, line 2)

In [ ]:
path =r"c:\Users\Name"
print(path)

c:\Users\Name

In [ ]:
path = "hello\nworld"
print(path)

hello
world

In [ ]:
path = r"hello\nworld"
print(path)

hello\nworld

In [ ]:
path = "hello\n\tworld"
print(path)

hello
	world

In [ ]:
print("Helllo,  \bWorld!") #backspace
print("Hello,\tWorld")#tab space
print("Hello, \"World!\"")
print("Hello,\nWorld!")
print("\"World!\"")

Helllo,  World!
Hello,	World
Hello, "World!"
Hello,
World!
"World!"

In [ ]:
#unicode /number k through hum character
print(r"\u0041 = ", "\u0041")
print(r"\u0042 = ", "\u0042")
print(r"\u0043 = ", "\u0043")
print("\u0047 = ", "\u0047")
print("\u0049 = ", "\u0049")

\u0041 =  A
\u0042 =  B
\u0043 =  C
G =  G
I =  I

In [ ]:
print(r"\u0061 = ", "\u0061")
print(r"\u0062 = ", "\u0062")
print(r"\u0063 = ", "\u0063")

\u0061 =  a
\u0062 =  b
\u0063 =  c

In [ ]:
a =" my name"
b ="is farida."
print(a+b)

 my nameis farida.

In [ ]:
# indexing
my_string ="hello, world"
print(my_string[7])

In [ ]:
my_string ="hello, world"
print(my_string[7:])

In [3]:
#start,stop and step
my_string = "hello, world!"
print(my_string[7:12]) #0,1,2,3,4,5,6,7,8,9,10,11,12
print(my_string[7:])# ager  ending point na dain tu

world
world!

In [6]:
my_string = "hello, world!"
print(my_string[0:7])

hello,

In [ ]:
print(my_string.upper()) #Upper Case
print(my_string.lower()) #Lower Case

In [9]:
my_string: str = 'Hello! World'
print(my_string.split())

['Hello!', 'World']

In [12]:
my_string:str = "Hello! World"
print(my_string.split("o"))

['Hell', '! W', 'rld']

In [13]:
words = my_string.split("l") # Splitting using 'l' as the delimiter
print('my_string.split("l") = ', words)

my_string.split("l") =  ['He', '', 'o! Wor', 'd']

In [15]:
my_data ="apple, banana, cherry"
print(my_data.split(","))# 3 ko tor du

['apple', ' banana', ' cherry']

In [20]:
words= ["hello","world"]# space
print(" ".join(words))
print(",".join(words))
print("- - -".join(words))
print("".join(words))

hello world
hello,world
hello- - -world
helloworld

In [22]:
my_string =["Pakistan"]
print(",".join("Pakistan"))

P,a,k,i,s,t,a,n

In [23]:
my_string =["Pakistan","USA","Oman"]
print(",".join("Oman"))

O,m,a,n

In [25]:
# numbers
my_data =[1,2,3,4,5,6]
#print("-".join(my_data))#number py nahi lagta
numbers_string=[str(fari) for fari in my_data ]#convert in string
print(numbers_string)
print("-".join(numbers_string))

['1', '2', '3', '4', '5', '6']
1-2-3-4-5-6

In [28]:
#replace
text ="Hello, World!"
result =text.replace("Hello","Hi")
print(text)
print(result)# replace ho ga
print(text.replace("H" ,"B" ))

Hello, World!
Hi, World!
Bello, World!

In [38]:
text= "banana"
print(text.find("a"))
print(text.find("z"))

1
-1

In [46]:

text ="Hello World!"
print (text.find("H"))
print (text.find("W"))

0
6

In [47]:
text= "banana"
print(text.count("a"))# coutn kro k a kitni bar hy?

3

In [51]:
#if
name: str = 'Farida'
age: int = 40
first_letter: str = name[0]
my_weight: float = 70.532000 # 70.536000
#print(name , age )
#print(name,age,my_weight)

Farida 40
Farida 40 70.532

In [56]:
name: str = 'Farida'
age: int = 40
first_letter: str = name[0]
my_weight: float = 70.532000
my_string ="My name is %s,first letter is %c,i am %d,and my weight is %f kg."%(name,first_letter,age,my_weight)
print(my_string)

My name is Farida,first letter is F,i am 40,and my weight is 70.532000 kg.

In [58]:
# str.format() yeh operator ka modren method hy
my_string: str = 'My name is {} and I am {} years old.'.format(name,age) #order matters
print(my_string)

My name is 40 and I am Farida years old.

In [60]:
# str.format() yeh operator ka modren method hy
my_string: str = 'My name is {1} and I am {0} years old.'.format(age, name) #index number write krain
print(my_string)

My name is Farida and I am 40 years old.

In [61]:
# using f-strings
my_string: str = f'My name is {name} and I am {age} years old.' #Using Named Placeholders (Best for Readability)
print(my_string)

My name is Farida and I am 40 years old.

In [63]:
# using fr-strings
my_string: str = fr'My name is {name} \n  and I am {age} years old.' #Using Named Placeholders (Best for Readability)
print(my_string)

My name is Farida \n  and I am 40 years old.

In [67]:
# string literal VS string pool
# pool like aa storage box of string
# Interning is a process #  number 256 tk ho ga tu
x="Farida" # 20 charactor sy zada na hon
print(id(x))
y = "Bano"
print(id(y))
z ="farida"
print(id(z))
a="Farida"
print(id(a))# variable change hy pr pool main x k nam sy hy, same nam save hy us main tu humain wohi id dy ga

136806942240112
136806953899184
136806942237296
136806942240112

In [71]:
#  number 256 tk ho ga tu # int comman hon.
y=100
x=100
print(id(y))
print(id(x))
y=257
x=257
print(id(y))
print(id(x))

10754024
10754024
136806941431408
136806941437040

In [74]:
x=1000
y=1000
print(x is y)
print(id(x))
print(id(y))

False
136806941439504
136806941437040

In [77]:
a= "pakistan zindabad inshaALLAH"
b= "pakistan zindabad inshaALLAH"
print(id(a))
print(id(b))
print( a is b)

136806942396768
136806940578224
False

In [78]:
# concatnation main nahi hoti intrning
a="hel"
b="loo"
z= a+b# ye false ho ga tu interning nahi ho gi
a="heloo"
print(id(a))
print(id(b))
print(a is b)

136806942194224
136806953899184
False

In [79]:
# without +
x ="booloo"
y = x
print(  x is y)
print(id(x))
print(id(y))

True
136806953702576
136806953702576

In [80]:
#Explicit interning: You can manually intern a string using the sys.intern() function.
import sys
a = sys.intern("hello world!")
b = sys.intern("hello world!")
print(a is b)  # True (manually interned)

True

In [81]:
#String Repetition
x = "farida"
print(x * 10)

faridafaridafaridafaridafaridafaridafaridafaridafaridafarida

In [82]:
# Define two strings
str1 = "apple"
str2 = "banana"

print("str1 == str2 = ",str1 == str2)  # False (because "apple" is not equal to "banana")
print("str1 != str2 = ",str1 != str2)  # True  (because "apple" is different from "banana")
print("str1 > str2  = ", str1 > str2)   # False (because "apple" comes before "banana" in dictionary order)
print("str1 < str2  = ", str1 < str2)

str1 == str2 =  False
str1 != str2 =  True
str1 > str2  =  False
str1 < str2  =  True

In [83]:
print('"Apple" > "apple"   = ', "Apple" > "apple")  # False ('A' has a smaller Unicode value than 'a')
print('"apple" == "APPLE") = ', "apple" == "APPLE") # False (case-sensitive)
print('"abc" < "abd"       = ', "abc" < "abd")

"Apple" > "apple"   =  False
"apple" == "APPLE") =  False
"abc" < "abd"       =  True