<a href="https://colab.research.google.com/github/farida-bano/Giaic-Q3-quiz-prepration/blob/main/Q3prepration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#int
my_num : int = 40
print (type(my_num ),my_num)

<class 'int'> 40

In [ ]:
#floating
my_number:float =100.5
print(my_number)

100.5

In [ ]:
my_num:float = 200
print(type(my_num),my_num)

<class 'int'> 200

In [ ]:
my_num: float = 20
print(type(my_num), my_num)   #  my_num: float = 200  python ny type theek kr likh di hy

<class 'int'> 20

In [ ]:
#Complex k 2 parts hotay hain aik imagenary and real
my_num: complex = 3 + 8j # 3 real and  8j imaginary hy
print (type(my_num), my_num)

<class 'complex'> (3+8j)

In [ ]:
#Accessing Real and imaginary
my_num: complex = 3 + 8j # 3 real and  8j imaginary hy
print (type(my_num), my_num .real) # is trha sy real 3.0 aaajy ga

<class 'complex'> 3.0

In [ ]:
my_num: complex = 3 + 8j # 3 real and  8j imaginary hy
print (type(my_num), my_num .real) # is trha sy real 3.0 aaajy ga
print (type(my_num), my_num .imag) # is trha sy imag 8.0 aajaay ga

<class 'complex'> 3.0
<class 'complex'> 8.0

In [ ]:
#Bool
my_num: bool = False
print(type(my_num), my_num)

<class 'bool'> False

In [ ]:
# ager hum apni type ko chnage krna chahain to hum
my_num: int=12 # int ko
print(float( my_num))#float mai change krna hy

12.0

In [ ]:
my_num :int =12
print(type(float(my_num)),float(my_num))#is type phir num float main aay ga

<class 'float'> 12.0

In [ ]:
# hum complex ko int ya float main change nahi kr sakhty
my_num :int =12
print(type(complex(my_num)),complex(my_num))

<class 'complex'> (12+0j)

In [ ]:
# hum complex sy int or float main nahi change kr sakhty
my_num :complex =12+8j
print(type(int(my_num)),int(my_num)) #typeerror aay ga

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [ ]:
##SEQUENCE TYPES
#     A.  STRING
x:str =' my name  is Farida'
print(type(x),x)

<class 'str'>  my name  is Farida

In [ ]:
# Multi line string
#STRING
x:str ="""
my
name
is
Farida
bano """
print(x)

my
name
is
Farida
bano

In [ ]:
#    B.   List
# An ordered mutable collection /jo change ho jay
x:list= []
print(type(x),x)

<class 'list'> []

In [ ]:
# list ka syntx aajay ga
x:list= [1,2,3,"Java",13.5 ,True,3+12J]
print(type(x),x)

<class 'list'> [1, 2, 3, 'Java', 13.5, True, (3+12j)]

In [ ]:
x:list= [1,2,3,"Java",13.5 ,True,3+12J]
print(type(x),x)
# value replace krny k liay
x[2] =10
print(x)

<class 'list'> [1, 2, 3, 'Java', 13.5, True, (3+12j)]
[1, 2, 10, 'Java', 13.5, True, (3+12j)]

In [ ]:
#. C TUPLE
# An ordered immutable collection
x:tuple=()
print(type(x))

<class 'tuple'>

In [ ]:
x:tuple= (1,2,3,"Java",13.5 ,True,3+12J)
print(type(x),x)

<class 'tuple'> (1, 2, 3, 'Java', 13.5, True, (3+12j))

In [ ]:
#.  D Rang
# Represent a sequence of numbers
x:range =range (10) # by default o sy start hy
print(type(x),(x))

<class 'range'> range(0, 10)

In [ ]:
x:range =range (1,10,2) # starting point 1 dia hy .is main 2 gap k liay dia hy
print(type(x),x)
print(x.start)
print(x.stop)
print(x.step)

<class 'range'> range(1, 10, 2)
1
10
2

In [ ]:
# loop k sath range method
for i in range (1,10,2): # i aik variable hy
  print(i)

1
3
5
7
9

In [ ]:
# Range ki aik or misal
for i in range (10): # i aik variable hy
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
x:range =range(20)
print(list(x))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
#giaic exam prepration

x: tuple =(12,3,5,7,2)
print (x [1:4]) # start ka number 1 dia .jo number chahiay us k bd wala number dena hy 2 ka index number 4 dena hy

(12, 3, 5, 7)

In [ ]:
x: tuple =(12,3,5,7,2)
print (x [0:4])# index 0 sy 4 likhnay py

(12, 3, 5, 7)

In [ ]:
# hum tuple ko ya list ko aik dosray k sath change kr sakhty hain
x: tuple =(12,3,5,7,2)
y = list (x)
print(type(y),y)

<class 'list'> [12, 3, 5, 7, 2]

In [ ]:
# 4 SET TYPE
#Unordered collection with unique elements
# a set (set) # mutable .underded and contains unique value
my_set :set ={1,2,23,4,4,5}
print(type(my_set),my_set)

In [3]:
#Remove
my_set :set ={1,2,23,4,4,5}
my_set.remove(4)
print(type(my_set),"my_set=",my_set)

<class 'set'> my_set= {1, 2, 5, 23}

In [12]:
# Frozen set ({}) sy
x: frozenset = frozenset({1, 2, 3, 4, 5, 6})
print(type(x), x)

<class 'frozenset'> frozenset({1, 2, 3, 4, 5, 6})

In [13]:
# Frozen set ([]) sy
x: frozenset = frozenset([1, 2, 3, 4, 5, 6])
print(type(x), x)

<class 'frozenset'> frozenset({1, 2, 3, 4, 5, 6})

In [14]:
# Mapping Type/Distionary(dict) stores key value pairs
my_dict :dict={}
print(my_dict)

{}

In [15]:
my_dict :dict={"name":"ali","age":14, "class":"4th"}
print(my_dict)

{'name': 'ali', 'age': 14, 'class': '4th'}

In [16]:
my_dict :dict={"name":"ali","age":14, "class":"4th"}
print(type(my_dict),my_dict)

<class 'dict'> {'name': 'ali', 'age': 14, 'class': '4th'}

In [18]:
my_dict:dict={
    "name":"ali",
    "age":14,
    "languages":["Python","Jave","HTML","CC+","Next.js"]}
print(my_dict)

{'name': 'ali', 'age': 14, 'languages': ['Python', 'Jave', 'HTML', 'CC+', 'Next.js']}

In [19]:
my_dict: dict = {
    "name": ["Ali","Ahmed","Hassan"],
    "age": [14,16,18,12],
    "languages": ["Python", "Jave", "HTML", "CC+", "Next.js"]
}

print(my_dict)

{'name': ['Ali', 'Ahmed', 'Hassan'], 'age': [14, 16, 18, 12], 'languages': ['Python', 'Jave', 'HTML', 'CC+', 'Next.js']}

In [20]:
# sirf aik key ki values get krny k liay
my_dict: dict = {
    "name": ["Ali","Ahmed","Hassan"],
    "age": [14,16,18,12],
    "languages": ["Python", "Jave", "HTML", "CC+", "Next.js"]
}

print(my_dict["name"])

['Ali', 'Ahmed', 'Hassan']

In [23]:
my_dict: dict = {
    "name": ["Ali", "Ahmed", "Hassan"],
    "age": [14, 16, 18, 12],
    "languages": ["Python", "Jave", "HTML", "CC+", "Next.js"]
}

print(my_dict["name"][0])  # Ali
print(my_dict["name"][1])  # Ahmed
print(my_dict["name"][2])  # Hassan

Ali
Ahmed
Hassan

In [ ]:
# 0,1,2  positive index
my_dict: dict = {
    "name": ["Ali", "Ahmed", "Hassan"],
    "age": [14, 16, 18, 12],
    "languages": ["Python", "Jave", "HTML", "CC+", "Next.js"]
}

print(my_dict["name"][-1])  # Ali
print(my_dict["name"][-2])  # Ahmed
print(my_dict["name"][-3])  # Hassan

In [24]:
# -1, -2, -3  negitive index
my_dict: dict = {
    "name": ["Ali", "Ahmed", "Hassan"],
    "age": [14, 16, 18, 12],
    "languages": ["Python", "Jave", "HTML", "CC+", "Next.js"]
}

print(my_dict["name"][0])  # Ali
print(my_dict["name"][1])  # Ahmed
print(my_dict["name"][2])  # Hassan

Ali
Ahmed
Hassan

In [27]:
# Non Data Type in python  is main apki valus kuch bhi na ho wo non data type hy
x:str=None
y:str=None
z:str=None
print(type(x))

<class 'NoneType'>

In [28]:
# none in function
def get_name():
    return None  # abhi name nahi mila

name: str = get_name()

if name is None:
    print("Name abhi assign nahi hua.")
else:
    print(f"Name: {name}")

Name abhi assign nahi hua.

In [29]:
#id  function?The id() function in Python returns the unique identifier (memory address) of an object.
# memory main majod us ki id batata hy
x=10
print(id(x))# memory address batay ga

10751144

In [30]:
x="Farida Bano"
print(id(x))# memory address batay ga

136470915315120

In [34]:
# x and y ami different data hy
x=[1,2,3,]#mutable
y=[4,5,6,]#mutable
print(id(x))
print(id(y))

136470915426432
136470915551488

In [36]:
# x and y ami same data hy /phir bhi id diffrent hy
x=[1,2,3,]#mutable
y=[1,2,3,]#mutable
print(id(x))
print(id(y))

136470915420352
136470928769280

In [38]:
#Since 150 is within the cached range, both x and y
#will point to the same integer object in memory.
x= 150 # mutable
y= 150 # mutable
print(id(x))
print(id(y))

10755624
10755624

In [39]:
#But if you tried with a number outside the cache range (like 1000),
#depending on the Python implementation, they might not have the same id:
a = 1000
b = 1000
print(id(a))
print(id(b))

136470916179152
136470916172720

In [46]:
#==  value ko compare kr ga
#x and y ki value barabar na ho False aay ga q k == nahi hy

x=10
y=5
print(x==y)

False

In [42]:
x=10
y=10
print(x==y)

True

In [45]:
# is jo sy id/ID ya memory ko check kry ga k same hy?
#ager same nahi ho gi false dy ga
x=10
y=5
print(x is y)

False

In [48]:
X=[1,2,3,] #mutable
y=[1,2,3,] #mutable
print( x is y)

False

In [52]:
# TYPE CASTING
#2 Types of Type Casting:
#Implicit Type Casting (Automatically hoti hai) GAIR WAZEH BILWASTA
#Explicit Type Casting (Manually karni parti hai) WAZEH OR BARASRAST

x = 34
print(type(x)) # kud us ny cast bata di

<class 'int'>

In [50]:
a = 5        # int
b = 2.0      # float
c = a + b    # a (int) → float automatically

print(c)     # Output: 7.0

7.0

In [56]:
#Impilicit casting
num1 =input ("Enter a  first number") # input ki type by default. string hoti hy
num2 = input("Enter a second number")
print(num1+num2)# cocatenation kr raha hy

Enter a  first number 56
Enter a second number56
 5656

In [59]:
#Explicit Casting
num1 =int(input ("Enter a  first number")) # hum khud python int dy ray hain
num2 =int (input("Enter a second number"))
print(num1+num2)# tu ab sum answer aay ga q k hum kud int wirte kia hy

Enter a  first number90
Enter a second number98
188