<a href="https://colab.research.google.com/github/farida-bano/Giaic-Q3-quiz-prepration/blob/main/tuple%2Clist.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
my_tuple = (1, 2, 3, [4, 5])
my_tuple[3][0] = 10
print(my_tuple)

(1, 2, 3, [10, 5])

In [ ]:
person = {"name": "Alice", "age": 25}
person["age"] = 26
print(person)

{'name': 'Alice', 'age': 26}

In [ ]:
thisdict = {"brand": "Ford", "model": "Mustang", "year": 2020}

for key, value in thisdict.items():
    print(key, ":", value)

brand : Ford
model : Mustang
year : 2020

In [ ]:

numbers = [10, 20, 30, 40]
numbers.append([50, 60])
print(numbers)

[10, 20, 30, 40, [50, 60]]

In [ ]:
numbers = [1, 2, 3, 4, 5]
squared = [x**2 for x in numbers if x % 2 == 0]
print(squared)

[4, 16]

In [ ]:
fruits = ["apple", "banana", "cherry"]
print(fruits[1])

banana

In [ ]:
print(__name__)

__main__

In [ ]:
def func() :
    print("Module 1 function")

if __name__ == "__main__" :
    print("Module 1 executed directly")

Module 1 executed directly

In [ ]:
import random
import random as rnd
rnd.choice = lambda lst: lst[0]
print(random.choice([1, 2, 3]) , end=" ")
print(rnd.choice([1, 2, 3]), end=" ")

1 1

In [12]:
import math
try:
    square = math.sqrt(-1)
except ValueError as e:
    print(f" An error occured! ({e})")

 An error occured! (math domain error)

In [13]:
try:
    result = 5 / 0
except ZeroDivisionError:
    print("Cannot divide by zero!")
else:
    print(f"Division successful. Result: {result}")

Cannot divide by zero!

In [14]:
try:
    numbers = [1, 2, 3]
    result = numbers[1]
except IndexError:
    print("Index out of range!")
else:
    print(f"Access successful! Value: {result}")

Access successful! Value: 2

In [15]:
try:
    result = 10 / 0
except ZeroDivisionError:
    print("Cannot divide by zero!")
finally:
    print("Finally done!")

Cannot divide by zero!
Finally done!

In [16]:

def check_age(age):
    if age < 18:
        raise ValueError("Age must be 18 or older!")
    return "Age is valid"
try:
    result = check_age(15)
except ValueError as e:
    print(f"Error: {e}")

Error: Age must be 18 or older!

In [17]:
from typing import NoReturn

def error_function() -> NoReturn:
    return 1 / 0
try:
    error_function()
except Exception as e:
    print("Error:", e)

Error: division by zero

In [18]:
import sys
def terminate_program() -> None:
    sys.exit("Program terminated")
try:
    terminate_program()
except SystemExit as e:
    print("Error:", e)

Error: Program terminated

In [19]:

def divide_numbers(a, b):
    try:
        result = a / b
    except ZeroDivisionError:
        print("Error: Cannot divide by zero!")
    except TypeError:
        print("Error: Invalid input type. Numbers required.")
    else:
        print(f"Division successful. Result: {result}")
    finally:
        print("Operation complete.")

divide_numbers(10, "2")

Error: Invalid input type. Numbers required.
Operation complete.

In [20]:
try:
    result = "Hello" + 5
except TypeError:
    print("An Error occured.")

An Error occured.

In [21]:
try:
    my_dict = {
        "name":"john",
        "age": 25
    }
    print(my_dict["contact"])
except KeyError as e:
    print(f"KeyError: {e} - key does not exist in the dictionary.")

KeyError: 'contact' - key does not exist in the dictionary.